h1 {
    color: #6b0103;
    font-size: 65px;
    text-align: center;
}

h4 {
    color: gray;
    font-size: 55px;
    text-align: center
}


img {

    height: 700px;

}

iframe {


    height: 700px;
    width: 1000px;
}

.btn_cabecalho {

    border-radius: 100px;
    border-color: black;
    height: 100px;
    width: 490px;
    font-size: 80px;
}

#btn_formacao {
    background-color: #17f9ff;

}

#btn_home{

background-color:#f91659 ;

}

#btn_projetos{

background-color: #59b390;
}